{%- style -%}
  .w-95 {
    width: 95% !important;
  }

  .w-100 {
    width: 100% !important;
  }

  .no-margin {
    margin: 0 !important;
  }

  .multicolumn_section {
    display: flex;
    row-gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .multicolumn_flex_container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .multicolumn_column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .multicolumn_column_title {
    width: 90%;
  }
  .multicolumn_column_subtitle {
    display: flex;
    justify-content: start;
    width: 90%;
  }
  .multicolumn_heading {
    width: 95%;
    display: flex;
    flex-flow: column;
  }
  .heading_description,
  .multicolumn_list {
    padding: 0;
    width: 90%;
  }
  .section_title {
    font-family: Assistant;
    font-size: 25px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #101010;
  }
  .Line-3 {
    width: 67px;
    height: 0.5px;
    border: solid 5px #591311;
  }
  .heading_description_title {
    font-family: Assistant;
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #101010;
  }
  .heading_description {
    font-family: Assistant;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #101010;
  }
  .multicolumn_column_title {
    font-family: Assistant;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #101010;
  }
  .multicolumn_column_subtitle {
    font-family: Assistant;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #101010;
  }
  .multicolumn_column li::marker,
  .heading_description li::marker {
    content: '✓';
    color: black;
    font-weight: bold;
  }
  .multicolumn_column li {
    font-family: Assistant;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #101010;
  }
  .multicolumn_rectangle_column {
    box-shadow: 10px 32px 72px 0 rgba(51, 51, 51, 0.06);
    background-color: #fff;
    width: 45%;
  }
  .multicolumn_button_container {
    display: flex;
    gap: 70px;
    justify-content: center;
    width: 100%;
    padding-bottom: 40px;
  }
  .multicolumn_button_add {
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #fbb612;
    width: 206px;
    height: 45px;
  }
  .multicolumn_button_other {
    border: solid 1px #fbb612;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: transparent;
    width: 206px;
    height: 45px;
  }

  @media only screen and (max-width: 768px) {
    .multicolumn_heading {
      width: 85%;
      display: flex;
      flex-flow: column;
    }
    .multicolumn_rectangle_column {
      width: 90%;
    }
    .multicolumn_button_container {
      display: flex;
      gap: 20px;
      justify-content: center;
      width: 100%;
      padding-bottom: 40px;
      flex-wrap: wrap;
    }
  }
{%- endstyle -%}

{%- liquid

-%}
<div class="multicolumn_section page-width isci-padding-y">
  <div class="multicolumn_flex_container">
    <div class="multicolumn_heading">
      <div class="multicolumn_column">
        <h3 class="section_title w-95">
          <strong>{{ section.settings.title }}</strong>
        </h3>
        <div class="w-95">
          <div class="Line-3"><hr class="no-margin"></div>
        </div>
        {{ section.settings.description }}
      </div>
    </div>
    {{ section.settings.col1 }}
    {{ section.settings.col2 }}
    {{ section.settings.col3 }}
    {{ section.settings.col4 }}
  </div>
  <div class="multicolumn_button_container">
    {%- if product.selected_or_first_available_variant.available %}
      {%- form 'product', product, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
        <input type="hidden" name="quantity" value="1">
        <input
          type="hidden"
          name="id"
          value="{{ product.selected_or_first_available_variant.id }}"
        >
        <button class="multicolumn_button_add" type="submit" name="add">
          Adaugă în coș
        </button>
      {%- endform -%}
    {% endif %}

    <a
      class="multicolumn_button_other"
      role="link"
      href="{{section.settings.cursuri}}"
    >
      Alte Cursuri
    </a>
  </div>
</div>
{% schema %}
{
  "name": "ISCI multi cols section",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Titlu"
    },
    {
      "type": "html",
      "id": "description",
      "label": "Descriere"
    },
    {
      "type": "html",
      "id": "col1",
      "label": "Coloana 1"
    },
    {
      "type": "html",
      "id": "col2",
      "label": "Coloana 2"
    },
    {
      "type": "html",
      "id": "col3",
      "label": "Coloana 3"
    },
    {
      "type": "html",
      "id": "col4",
      "label": "Coloana 4"
    },
    {
      "type": "url",
      "id": "cursuri",
      "label": "Cursuri"
    }
  ],
  "presets": [
    {
      "name": "ISCI multi cols section",
      "blocks": []
    }
  ]
}
{% endschema %}
