{%- style -%}
  .banner_section {
    display: flex;
    width: 100%;
    background-color: {{ section.settings.banner_background }};
  }
  .heading_banner_section {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px 0;
  }
  .heading_banner {
    font-family: Assistant;
    font-size: 35px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.49;
    letter-spacing: normal;
    color: #fff;
  }
  .heading_subtitle {
    font-family: Assistant;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    color: #f3eed9;
  }
  .heading_banner_description {
    font-family: Assistant;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: normal;
    color: #f3eed9;
  }
  .banner_button_add {
    width: 150px;
    height: 45px;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #fbb612;
  }
  .image_banner_section {
    width: 50%;
  }
  .image_banner_section img {
    width: -webkit-fill-available;
  }
  .animation_box {
    width: 143px;
    height: 20px;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #faad13;
  }
  .w-80 {
    width: 80%;
  }
  @media only screen and (max-width: 768px) {
    .banner_section {
      display: flex;
      background-color: #591311;
      flex-wrap: wrap-reverse;
    }
    .heading_banner_section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 100%;
      padding-bottom: 50px;
    }
    .image_banner_section {
      width: 100%;
    }
  }
{%- endstyle -%}

<div class="banner_section">
  <div class="heading_banner_section">
    <div class="heading_banner_top w-80">
      <p class="animation_box">
        {% assign end_date = section.settings.end_date %}
        {% if end_date != blank %}
          {% assign today = 'now' | date: '%s' %}
          {% assign end = end_date | date: '%s' %}
          {% assign difference = end | minus: today %}
          {% assign days = difference | divided_by: 86400 %}
          {% assign weeks = days | divided_by: 7 %}
          {% assign months = days | divided_by: 30 %}
          au mai rămas
          {% if months > 0 %}
            {{ months }}
            {% if months > 1 %} luni {% else %} luna {% endif %}
          {% elsif weeks > 0 %}
            {{ weeks }}
            {% if weeks > 1 %}saptamani{% else %}saptamana{% endif %}
          {% else %}
            {{ days }}
            {% if days > 1 %}zile{% else %} zi {% endif %}
          {% endif %}
        {% endif %}
      </p>
    </div>
    <div class="heading_banner_body w-80">
      <p class="heading_banner">{{ section.settings.title }}</p>
      <p class="heading_subtitle">{{ section.settings.subtitle }}</p>
      <p class="heading_banner_description">
        {{ section.settings.description }}
      </p>
    </div>
    <div class="heading_banner_bottom w-80">
      {%- if product.selected_or_first_available_variant.available %}
        {%- form 'product', product, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
          <input type="hidden" name="quantity" value="1">
          <input
            type="hidden"
            name="id"
            value="{{ product.selected_or_first_available_variant.id }}"
          >
          <button class="banner_button_add" name="add" type="submit">Adaugă în coș</button>
        {%- endform -%}
      {%- else -%}
        {{ 'products.product.sold_out' | t }}
      {% endif %}
    </div>
  </div>
  <div class="image_banner_section">
    <img src="{{ section.settings.banner_image | img_url: 'master' }}">
  </div>
</div>
{% schema %}
{
  "name": "ISCI banner",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.isci-banner.settings.title.label"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "t:sections.isci-banner.settings.subtitle.label"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:sections.isci-banner.settings.description.label"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "t:sections.isci-banner.settings.banner_image.label"
    },
    {
      "type": "color",
      "id": "banner_background",
      "label": "t:sections.isci-banner.settings.banner_background.label",
      "default": "#591311"
     },      
    {
      "type": "text",
      "id": "end_date",
      "label": "t:sections.isci-banner.settings.end_date.label"
    }
  ],
  "presets": [
    {
      "name": "ISCI banner",
      "blocks": []
    }
  ]
}
{% endschema %}
