{%- style -%}
  .flex_container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .rectangle {
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: #fafafa;
  }
  .rectangle_title {
    font-family: Assistant;
    font-size: 25px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.18px;
    color: #101010;
  }
  .rectangle_informations p {
    font-family: Assistant;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.16px;
    color: #101010;
    margin-top: 0;
  }
  .rectangle_informations div {
    display: flex;
    gap: 10px;
  }
  .progress_redbar {
    position: relative;
    overflow-x: hidden;
  }
  .progress_redbar:before {
    width: 100%;
    height: 8px;
    content: '';
    display: block;
    position: absolute;
    background: #d8d8d8;
    bottom: 0;
    border-radius: 5px;
  }
  .difficulty_redbar {
    width: 100%;
    height: 8px;
    background: #591311;
    display: block;
    position: relative;
    border-radius: 5px;
  }
  .difficulty_bar span {
    position: absolute;
    top: -30px;
    font-size: 18px;
    padding: 3px 0;
    font-weight: 500;
  }
  .difficulty_redlevels {
    display: flex;
    justify-content: space-around;
  }
  .rectangle_card {
    width: 40%;
    display: flex;
    flex-flow: column;
    box-shadow: 10px 32px 72px 0 rgba(51, 51, 51, 0.06);
  }
  .rectangle_card_top {
    display: inline-flex;
    justify-content: space-evenly;
    background-color: #101010;
  }

  .lei_top {
    font-family: Assistant;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.21px;
    color: #fff;
  }
  .rectangle_card_body {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .rectangle_card_body h4 {
    font-family: Assistant;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    color: #010101;
  }
  .rectangle_card_details {
    padding: 10px;
    display: flex;
    flex-flow: column;
    width: 90%;
  }
  .promotion_data_line {
    font-family: Assistant;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    color: #010101;
    margin: 0;
  }
  .Lei {
    font-family: Assistant;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #af0101;
    margin: 0;
  }
  .promotion_data {
    display: inline-flex;
  }
  .w-35 {
    width: 35%;
  }
  .rectangle_card-description {
    margin: 0 0 0 15px;
    padding: 0;
  }
  .rectangle_card_description li {
    font-family: Assistant;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #101010;
    padding-bottom: 10px;
  }
  .rectangle_card_description li::marker {
    content: '✓';
    color: black;
    font-weight: bold;
  }
  .information_button_container {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
  }
  .information_button_add {
    width: 100%;
    height: 45px;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #fbb612;
  }
  @media only screen and (max-width: 768px) {
    .information_boxes_section {
      padding: 25px 0;
    }
    .flex_container {
      display: flex;
      flex-flow: column;
      width: 100%;
      align-items: center;
      gap: 25px;
    }
    .rectangle {
      width: 90%;
      display: flex;
      justify-content: center;
      background-color: #fafafa;
      padding: 10px;
    }
    .rectangle_card {
      width: 90%;
      display: flex;
      flex-flow: column;
      box-shadow: 10px 32px 72px 0 rgba(51, 51, 51, 0.06);
    }
    .rectangle_card_body {
      display: flex;
      flex-wrap: wrap;
    }
    .promotion_data {
      display: flex;
      flex-flow: column;
    }
  }
  /* .stack-top {
     z-index: 9;
     margin: 20px;
   } */
{%- endstyle -%}

<div class="information_boxes_section page-width isci-padding-y">
  <div class="flex_container">
    <div class="rectangle">
      <div>
        <h3 class="rectangle_title">Detalii curs</h3>
        <div style="width: 40%;">
          <div class="progress_redbar">
            <div class="difficulty_redbar w-35">
              <span class="skill-count2"></span>
            </div>
          </div>
          <div class="difficulty_redlevels">
            <p>ușor</p>
            <p>mediu</p>
            <p>mare</p>
          </div>
        </div>
        <div class="rectangle_informations">
          <div>
            <span>
              <div><img src="{{ 'clock.png' | asset_url }}" style="margin-right:5px;"></div>
            </span>
            <p>
              Sâmbătă, 24 Septembrie, 10:00 - 18:00<br>
              Duminică, 24 Septembrie, 10:00 - 18:00
            </p>
          </div>
          <div>
            <span>
              <div><img src="{{ 'location.png' | asset_url }}" stayle="margin-right: 5px;"></div>
            </span>
            <p>ZenGym, Str. Iancu Jianu 13, Alba Iulia</p>
          </div>
          <div>
            <span>
              <div><img src="{{ 'bed.png' | asset_url }}"></div>
            </span>
            <p>Recomandare cazare: Crema Residence, 0721.220.130</p>
          </div>
        </div>
      </div>
    </div>

    <div class="rectangle_card stack-top">
      <div class="rectangle_card_top">
        <p class="lei_top">
          <span style="opacity: 0.63; text-decoration: line-through;">3000</span>&emsp;&emsp;<b>1500 lei</b>
        </p>
      </div>
      <div class="rectangle_card_body">
        <div class="rectangle_card_details">
          <h4>Prețuri promoționale</h4>
          <div class="promotion_data">
            <p class="promotion_data_line">
              <span><img src="{{ 'reddot.png' | asset_url }}">&nbsp;14 - 24 Septembrie:&nbsp;</span>
            </p>
            <p class="Lei" style="color:#101010;">3000</p>
          </div>
          <div class="promotion_data">
            <p class="promotion_data_line">
              <span><img src="{{ 'reddot.png' | asset_url }}">&nbsp;03 - 13 Septembrie:&nbsp;</span>
            </p>
            <p class="Lei">
              <span style="color:#101010; opacity: 0.63; text-decoration: line-through;">3000</span>&emsp;2500 lei
            </p>
          </div>
          <div class="promotion_data">
            <p class="promotion_data_line">
              <span><img src="{{ 'reddot.png' | asset_url }}">&nbsp;23 August - 02 Septembrie:&nbsp;</span>
            </p>
            <p class="Lei">
              <span style="color:#101010; opacity: 0.63; text-decoration: line-through;">3000</span>&emsp;2000 lei
            </p>
          </div>
          <div class="promotion_data">
            <p class="promotion_data_line">
              <span><img src="{{ 'reddot.png' | asset_url }}">&nbsp;12 - 22 August:&nbsp;</span>
            </p>
            <p class="Lei">
              <span style="color:#101010; opacity: 0.63; text-decoration: line-through;">3000</span>&emsp;1500 lei
            </p>
          </div>
        </div>
        <div class="rectangle_card_details">
          <h4>Ce vei învăța în acest modul?</h4>
          <ul class="rectangle_card_description">
            <li>
              Generalități<br>
              <span style="opacity:0.84;font-size:14px;line-height:1.71;">
                Antrenamentul sportiv, sportivii, antrenorul</span
              >
            </li>
            <li>
              Etapele dezvoltării sportive<br>
              <span style="opacity:0.84;font-size:14px;line-height:1.71;">
                De la inițiere până la înalta performanță</span
              >
            </li>
            <li>Pregătirea generală vs. specializarea timpurie</li>
            <li>Andrenarea tinerilor sportivi respectând etapele lor de dezvoltare</li>
          </ul>
        </div>
        <div class="information_button_container">
          <button class="information_button_add" type="button">Adaugă în coș</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "ISCI information section",
  "class": "section",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "ISCI information section",
      "blocks": []
    }
  ]
}
{% endschema %}
